@import './mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
  @include dFlex(column, center, center);
  
  .gameSideBarCont {
    width: 100%;
    @include dFlex(row, space-evenly, flex-start);
  }
}