@import './mixins.scss';

.controlsCont {
  margin: 0 0 10px 0;
  width: 100%;
  @include dFlex(row, space-between, flex-start);

  button{
    @include button;
  }

  .speedControlsConst{
    width: 240px;
    @include dFlex(row, space-evenly, center);
  }
}