@import './vars.scss';

*{
  font-family: 'Times New Roman', Times, serif;
}

body{
  font-size: 62.5%;
  line-height: 2rem;
}

h1{
  font-size: $h1Size;
  color: $h1Color;
}

h2{
  font-size: $h2Size;
  color: $h2Color;
}

h3{
  font-size: $h3Size;
  color: $h3Color;
}

h4{
  font-size: $h4Size;
  color: $h4Color;
}

h5{
  font-size: $h5Size;
  color: $h5Color;
}

p{
  font-size: $pSize;
  color: $pColor;
}

a{
  font-size: $aSize;
  color: $aColor;
  text-decoration: none;
}

li{
  font-size: $pSize;
  color: #aaa;
}



