*{
  font-family: 'Times New Roman', Times, serif;
}

body{
  font-size: 62.5%;
  line-height: 2rem;
}

h1{
  font-size: 3rem;
  color: #33619a;
}

h2{
  font-size: 2.8rem;
  color: #555;
}

h3{
  font-size: 2.8rem;
  color: #555;
}

h4{
  font-size: 2.6rem;
  color: #555;
}

h5{
  font-size: 2.6rem;
  color: #555;
}

p{
  font-size: 1.3rem;
  color: #aaa;
}

a{
  font-size: 1.3rem;
  color: #333;
  text-decoration: none;
}

li{
  font-size: 1.3rem;
  color: #aaa;
}



