@import './vars.scss';
@import './mixins.scss';

.gameSideBar {
    border-radius: 5px;
    height: 100%;
    padding: 15px;
    background-color: $sideBarBG;

    button {
        @include button;
    }
}