// **** button styles
$buttonBG: cornflowerBlue;
$buttonHover: lightBlue;
$buttonFontSize: 1rem;

// **** sideBar
$sideBarBG: rgba(99, 143, 237, 0.1);

// **** fonts
$h1Color: #33619a;
$h1Size: 3rem;

$h2Color: #555;
$h2Size: 2.8rem;

$h3Color: #555;
$h3Size: 2.8rem;

$h4Color: #555;
$h4Size: 2.6rem;

$h5Color: #555;
$h5Size: 2.6rem;

$pColor: #aaa;
$pSize: 1.3rem;

$aColor: #333;
$aSize: $pSize;

// **** forms
